<div>
    <img src="https://images.pexels.com/photos/1796730/pexels-photo-1796730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">

    <ul *ngIf='weather_seattle.main'>
        <li>Humidity: {{weather_seattle.main.humidity}}</li>
        <li>Average Temperature: {{weather_seattle.main.temp}}</li>
        <li>High Temperature: {{weather_seattle.main.temp_max}}</li>
        <li>Low Temperature: {{weather_seattle.main.temp_min}}</li>
        <li>Status: {{weather_seattle.weather[0].description}}</li>
    </ul>
</div>