.container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 75%;
    flex-direction: column;
    text-align: center;
}

ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    
}
